<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jaune Congo | Jaune Congo</title>
</head>

<body>
    <h1>Jaune Congo</h1>

    <ul>
        <li><a href="/produits/<%= produits.id %>">
            <%= produits.name %>
        </a></li>
        <li><%= produits.prixKilo %></li>
        <li><%= produits.qteDispo %></li>
        <li>Ajouter au panier</li>
    </ul>
    
</body>

</html>