<!DOCTYPE html>
<html lang="fr-FR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>JauneCongo | JauneCongo</title>
</head>

<body>
    <header>
        <div class="nav nav_top">
            <div class="nav-top-left">
                <div class="nav-hover"><a href="#">Cultivons un autre monde !</a></div>
            </div>
            <div class="nav-top-center">
                <ul>
                    <li class="nav-hover"><a href="#">Infos qualités</a></li>
                    <li class="nav-hover"><a href="#">Infos livraisons</a></li>
                    <li class="nav-hover"><a href="#">Infos paiements</a></li>
                    <li>
                        <div class="social-link">
                            <div class="tooltip">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <span class="tooltiptext">It's a second</span>
                            </div>
                            <div class="tooltip">
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <span class="tooltiptext">It's a second</span>
                            </div>
                            <div class="tooltip">
                                <a href="#"><i class="far fa-envelope"></i></a>
                                <span class="tooltiptext">It's a second</span>
                            </div>
                            <div class="tooltip">
                                <a href="#"><i class="fas fa-phone-alt"></i></a>
                                <span class="tooltiptext">It's a second</span>
                            </div>
                            <!-- <i class="fab fa-facebook-f"></i>
                            <i class="fab fa-instagram"></i>
                            <i class="far fa-envelope"></i>
                            <i class="fas fa-phone-alt"></i> -->
                        </div>
                    </li>
                </ul>
            </div>
            
        </div>
        <div class="nav nav_bottom">
            <div class="nav-bottom-left">
                <div class="image-logo">
                    <a href="#">
                        <img src="../../static/images/Logo_Jaune_Congo_GilroyFont-01-transparent.jpg" alt="jaune congo">
                    </a>
                </div>
                <!-- <img src="../../static/images/Logo_Jaune_Congo_GilroyFont-01-transparent.jpg" alt="jaune congo"> -->
            </div>
            <div class="nav-bottom-center">
                <ul>
                    <li><a href="#">Légumes</a></li>
                    <li><a href="#">Fruits</a></li>
                    <li><a href="#">Herbes aromatiques</a></li>
                    <li><a href="#">Paniers hebdomadaires</a></li>
                    <li>Plus <i class="fal fa-angle-down"></i></li>
                </ul>
            </div>
            <div class="nav-bottom-right">
                <ul>
                    <li>Connexion</li>
                    <li><span class="line-bar"></span></li>
                    <li>Panier / $0.00 <i class="fab fa-card"></i></li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <div class="section section-annonce">
            <div class="annonce-top">
                <div class="image-annonce"> 
                    <img src="../../static/images/Logo_legumes_blanc-1400x734.jpg" alt="jaune congo">
                </div>
            </div>
            <div class="annonce-middle">
                <p>Chez nous, vous êtes « satisfait ou remboursé »!</p>
            </div>
            <div class="annonce-bottom">content</div>
        </div>
        <div class="section section-produits"></div>
        <div class="section section-promotion"></div>
        <div class="section section-infos"></div>
    </main>
    <footer>
        <div class="footer-top"></div>
        <div class="footer-bottom"></div>
    </footer>
</body>

</html>